body {
    background-color: #333; /* Charcoal background color */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  nav {
    background-color: rgb(2, 2, 217); /* Blue navigation bar */
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
  }
  
.App form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .App label {
    display: block;
    margin-bottom: 10px;
  }
  
  .App input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .App button {
    background-color: #a109ed;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .App button:hover {
    background-color: #a92ad7;
  }
  